
#uncovered {
    -fx-opacity: 1;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-color: #E2DFD2;
}

#covered {
    -fx-opacity: 1;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #b2cbf2, #92b6f0);
}

#covered:hover{
    -fx-background-color: white;
}

#bomb {
    -fx-opacity: 1;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-font: 16px "Serif";
    -fx-background-color: #E2DFD2;
}

#header {
    -fx-min-width: 800 ;
    -fx-background-color: #cccaca; /* Background color */
}

#time {
    -fx-background-color: #e0dddd; /* Background color */
    -fx-border-radius: 10px; /* Border radius */
    -fx-font: 16px "Serif"; /* Font size */
    -fx-text-color: red;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}


#restart-button{
    -fx-background-color: #e0dddd; /* Background color */
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}